{% extends 'base.html' %}
{% load static %}


{% block content %}

<main class="page">
			<section class="about-mainscreen">
				<div class="about-mainscreen__container">
					<div class="about-mainscreen__content">
						<h1 class="title">Про платформу</h1>
						<div class="text-wrap">
							<div>
								<p class="text">
									Що таке TGnative?
								</p>
								<p class="text">
						Це сервіс для просування вашого бізнесу в Telegram каналах. За допомогою нашої платформи ви завжди можете знайти якісні майданчики для розміщення реклами та просування.								</p>
								<p class="text">
									Скудный функциональный арсенал телеграма ограничивает читателя в подборе качественных площадок. Обычному обывателю слишком сложно аргументированно ответить
								</p>
								<p class="text">
									на вопрос «как искать интересные телеграм каналы», поэтому мы помогаем справиться с этой задачей в два клика.
								</p>
							</div>
							<div class="about-mainscreen__text-row">
								<div class="text-wrap">
									<p class="text">
										На платформі вже активно просувають:
									</p>
									<div>
										<p class="text">
											B2B/B2Стовари та послуги
										</p>
										<p class="text">
											Навчальні курси, вебінари та семінари
										</p>
										<p class="text">
											Онлайн-сервіси та мобільні програми
										</p>
										<p class="text">
											Онлайн та офлайн івенти
										</p>
										<p class="text">
											Телеграм канали та соціальні мережі
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div data-da=".about-mainscreen__text-row,992.98" class="about-mainscreen__img">
						<picture><source srcset="{% static 'img/about-mainscreen/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/about-mainscreen/1.png' %}" alt="О нас"></picture>
					</div>
				</div>
			</section>
			<section class="counters">
				<div class="counters__container">
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Кількість телеграм каналів</div>
						<div class="counters__num">{{lists}}</div>
					</div>
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Кількість підписників</div>
						{% if subscribers %}
						<div class="counters__num">{{subscribers}}</div>
						{% else %}
						<div class="counters__num">0</div>
						{% endif %}
					</div>
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Сумарне охоплення</div>
						 {% if total_views %}
						<div class="counters__num">{{total_views}}</div>
						{% else %}
						<div class="counters__num">0</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="how-work">
				<div class="how-work__container container">
					<h2 class="title title_center">Як працює платформа</h2>
					<div class="how-work__list">
						<div class="item-how-work">
							<div class="item-how-work__img">
								<picture><source srcset="{% static 'img/how-work/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/how-work/1.png' %}" alt="Вы звоните нам или оставляете заявку"></picture>
							</div>
							<h4 class="label-white ">Вы звоните нам или оставляете заявку</h4>
						</div>
						<div class="item-how-work">
							<div class="item-how-work__img">
								<picture><source srcset="{% static 'img/how-work/2.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/how-work/2.png' %}" alt="Мы обрабатываем вашу заявку"></picture>
							</div>
							<h4 class="label-white ">Мы обрабатываем вашу заявку</h4>
						</div>
						<div class="item-how-work">
							<div class="item-how-work__img">
								<picture><source srcset="{% static 'img/how-work/3.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/how-work/3.png' %}" alt="Вы получаете подтверждение"></picture>
							</div>
							<h4 class="label-white ">Вы получаете подтверждение</h4>
						</div>
						<div class="item-how-work">
							<div class="item-how-work__img">
								<picture><source srcset="{% static 'img/how-work/4.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/how-work/4.png' %}" alt="Мы приглашаем вас в офис"></picture>
							</div>
							<h4 class="label-white ">Мы приглашаем вас в офис</h4>
						</div>
						<div class="item-how-work">
							<div class="item-how-work__img">
								<picture><source srcset="{% static 'img/how-work/5.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/how-work/5.png' %}" alt="Вы получаете результат"></picture>
							</div>
							<h4 class="label-white ">Вы получаете результат</h4>
						</div>
					</div>
				</div>
			</section>
			<section class="ad-examples">
				<div class="ad-examples__container container">
					<h2 class="title title_center">Примеры рекламных публикаций</h2>
					<div class="ad-examples-slider swiper">
						<div class="ad-examples-slider__wrapper swiper-wrapper">
							<div class="ad-examples-slider__slide swiper-slide">
								<div class="ad-examples-slider__img">
									<picture><source srcset="{% static 'img/ad-examples/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/ad-examples/1.png' %}" alt="Примеры рекламных публикаций"></picture>
								</div>
							</div>
							<div class="ad-examples-slider__slide swiper-slide">
								<div class="ad-examples-slider__img">
									<picture><source srcset="{% static 'img/ad-examples/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/ad-examples/1.png' %}" alt="Примеры рекламных публикаций"></picture>
								</div>
							</div>
							<div class="ad-examples-slider__slide swiper-slide">
								<div class="ad-examples-slider__img">
									<picture><source srcset="{% static 'img/ad-examples/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/ad-examples/1.png' %}" alt="Примеры рекламных публикаций"></picture>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="work-with">
				<div class="work-with__container container">
					<h2 class="title title_center">З нами вже працюють</h2>
					<div class="work-with__list">
                         {% for item in sponsors %}



						<div class="work-with__item">
							<div class="work-with__img">
								<picture><source srcset="/{{ item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{ item.pictures}}" alt="ProstoCoin"></picture>
							</div>
						</div>

                         {% endfor %}

					</div>
				</div>
			</section>
		</main>
{% endblock %}