{% extends 'base.html' %}
{% load static %}

{% block content %}
   <main class="page">
        <section class="auth-form">
            <div class="auth-form__container">
                <form  method="post" class="auth-form__form">
                    {% csrf_token %}
                    <h1 class="title title_center">Добавить</h1>
                    {{ cost_format_formset.management_form }}
                    <div class="auth-form__item">
                        {{form.chanel_link}}
                    </div>
                    <p style="color:red;font-weight:700;">Чтобы мы убедились в том, что это Ваш канал, добавьте пожалуйста бота <a
                            href="https://t.me/tgNativeBot" style="color:#00b2eb">@TgNativebot</a> в администраторы добавляемого канала (Дайте ему возможность публиковать посты, чтобы в дальнейшем бот мог автоматизировать публикацию рекламных заявок с нашего сайта)</p>
                    <div class="auth-form__item">
                        {{form.description}}
                    </div>

                    <div class="auth-form__item">
                        {{form.category}}
                    </div>

                     <div class="auth-form__item">
                         {{ cost_format_formset.management_form }}
                         {% for form in cost_format_formset %}

                             <p style="color:#00b2eb">Формат:</p>{{ form.placement_format }}
                            {{ form.cost_per_format }}
                          {% endfor %}

                    </div>

                    <div class="auth-form__form-bottom">
                        <button class="button" type="submit">Добавить</button>
                    </div>
                </form>
            </div>
        </section>
    </main>


    {% endblock %}