{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}


    {% block content %}

    <main class="page">
			<section class="catalog-mainscreen">
				<div class="catalog-mainscreen__container container">
					<h1 class="title title_center">Каталог Telegram-каналів</h1>
					<div class="catalog-mainscreen__cat">
										<div class="label-white">Категорія</div>
										<div class="catalog-mainscreen__cat-lists">
                                                    {% for item in category %}
                                            {% if forloop.counter0|divisibleby:8 %}
                                                {% if forloop.counter0 > 0 %}
                                                    </ul>
                                                {% endif %}
                                                <ul class="catalog-mainscreen__cat-list">
                                            {% endif %}
                                              <li class="catalog-mainscreen__cat-item">

												   {% if request.GET.selected_category == item.name %}
												   <a href="{% url 'category-list' %}"> <button class="catalog-mainscreen__cat-btn _active" type="button">{{ item.name }}</button></a>
												  {% else %}
												  <a href="?selected_category={{item.name}}"> <button class="catalog-mainscreen__cat-btn" type="button">{{ item.name }}</button></a>
												  {% endif %}


												</li>

                                            {% if forloop.last %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}


										</div>
									</div>
					<div data-spollers class="spollers">
						<div class="spollers__item">
							<button type="button" data-spoller class="spollers__title">
								<span class="label-white label-white_s24">
									Фільтр
								</span>
								<span class="label-white label-white_s20">
									Згорнути
									<img class="arrow" src="{% static 'img/icons/arrow-down.svg' %}" alt="">
								</span>
							</button>
							<div class="spollers__body">
								<form action="{% url 'category-list' %}" method="get" class="catalog-mainscreen__form">

									<div class="search-form form">
										<div class="search-form__column">


											<div class="search-form__item">
												<label for="search-link" class="label-white">Посилання:</label>
												<input type="text" id="search-link" name="chanel_link" placeholder="https://t.me/example" class="form__input">
											</div>
											<div class="search-form__item">
												<label for="search-name" class="label-white">Назва каналу:</label>
												<input type="text" id="search-name" name="chanel_name" placeholder="взлом маркетинга" class="form__input">
											</div>
										</div>
										<div class="search-form__column">
											<div class="search-form__item">
												<label for="price-from" class="label-white">Ціна:</label>
												<div class="search-form__item-content">
													<label for="price-from" class="label-white">От</label>
													<input type="number" id="cost_from" name="price-from" placeholder="1000" class="form__input">
													<label for="price-to" class="label-white">До</label>
													<input type="number" id="cost_to" name="price-to" placeholder="1000" class="form__input">
												</div>
											</div>
											<div class="search-form__item">
												<label for="form-subs-from" class="label-white">Пiдписники:</label>
												<div class="search-form__item-content">
													<label for="orm-subs-from" class="label-white">От</label>
													<input type="number" id="form-subs-from" name="subscribers_from" placeholder="1000" class="form__input">
													<label for="form-subs-to" class="label-white">До</label>
													<input type="number" id="form-subs-to" name="subscribers_to" placeholder="1000" class="form__input">
												</div>
											</div>
											<div class="search-form__item">
												<label for="views-from" class="label-white">Переглядів на пост:</label>
												<div class="search-form__item-content">
													<label for="views-from" class="label-white">От</label>
													<input type="number" id="views-from" name="views_from" placeholder="1000" class="form__input">
													<label for="views-to" class="label-white">До</label>
													<input type="number" id="views-to" name="views_to" placeholder="1000" class="form__input">
												</div>
											</div>

										</div>
										<div class="search-form__column">
											<div data-spollers class="spollers">
												<div class="spollers__item">
													<button type="button" data-spoller class="spollers__title _spoller-active">
														<span class="label-white label-white_s20">
															Додаткові поля
															<img class="arrow" src="img/icons/arrow-down.svg" alt="">
														</span>
													</button>
													<div class="spollers__body">
														<div class="search-form__sub-body search-form__column">
															<div class="search-form__item search-form__item_select">
																<div class="search-form__item-content">

																</div>
															</div>
															<div class="search-form__item search-form__item_select">
																<div class="search-form__item-content">
																	<div class="search-form__item">
																		<label for="verification" class="label-white">Формат розміщення:</label>
																		<select name="verification" id="verification" data-class-modif="custom-select">
																			<option value="1" selected>Нативний</option>
																			<option value="2">Нативный 1</option>
																			<option value="3">Нативный 2</option>
																			<option value="4">Нативный 3</option>
																		</select>
																	</div>
																	<div class="search-form__item">
																		<label for="verification" class="label-white">Верифікація:</label>
																		<select name="verification" id="verification" data-class-modif="custom-select">
																			<option value="1" selected>Не важно</option>
																			<option value="2">Не важно 1</option>
																			<option value="3">Не важно 2</option>
																			<option value="4">Не важно 3</option>
																		</select>
																	</div>
																</div>
															</div>
															<div class="search-form__item">
																<label for="search-desc" class="label-white">Опис:</label>
																<input type="text" id="search-desc" name="search-desc" placeholder="маркетинг" class="form__input">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="catalog-mainscreen__bottom">
										<button class="button button_no-bg button_sm" type="submit">Знайти канали</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="search-channels">
				<div class="search-channels__container">
					<div class="search-channels__head">
						<div class="search-channels__tabs-head">
							<div class="search-channels__nums tabs-navigation">
								{% for p in page_obj.paginator.page_range %}
								 {% if page_obj.number == p %}
								<a href="?page={{ p }}">
								<button class="search-channels__num tabs-navigation__title _tab-active" type="button">{{p}}</button>
								</a>
								{% else %}
								<a href="?page={{ p }}">
								<button class="search-channels__num tabs-navigation__title" type="button">{{p}}</button>
								</a>
								{% endif %}
								{% endfor %}


							</div>
							<div class="search-channels__head-text">
								Знайдено <span>{{ lists }}</span> каналiв
							</div>
						</div>
					</div>
					<div class="table-wrap">
						<table class="table table_w">
							<thead>
								<tr>
									<th scope="col">
										<div class="label-white label-white_s16">Назва</div>
									</th>
									<th scope="col">
										<div class="label-white label-white_s16">Тематика</div>
									</th>
									<th>
										<div class="label-white label-white_s16">Передплатники</div>
									</th>
									<th>
										<div class="d-flex">
											<img src="img/icons/eye.svg" alt="">
											<div class="label-white label-white_s16">Перегляди</div>
										</div>
									</th>
									<th>
										ER
									</th>
									<th>
										Формат
									</th>
									<th>

									</th>
								</tr>
							</thead>
							<tbody>
							 {% for item in object_list  %}

               				 {% with last_cost_format=item.add_chanel.cost_formats.last %}
							 {% with er=item.views|div:item.subscribers|mul:100 %}
								<tr>
									<td class="table-row" scope="row">
										<div class="table-row__head">
											<a href="#" target="_blank" class="table-row__img">
												<picture><source srcset="/{{ item.pictures }}" type="image/webp"><img class="img-fluid" src="/{{ item.pictures }}" alt=""></picture>
											</a>
											<div class="table-row__content">
												<div class="table-row__content">
													<a href="{% url 'page' item.pk %}" target="_blank" class="label-dark-blue label-dark-blue_s20 hhv-green">{{item.name}}</a>
													<div class="table-row__btns">
														{% if user.is_authenticated %}
														<img  class="likeButton" data-chanel-id="{{ item.id }}" src="{% static 'img/catalog/like.svg' %}" alt="">
														{% endif %}

													</div>
												</div>
											</div>
										</div>
									</td>
									<td class="table-row">
										<div class="label-dark label-dark_s20">{{item.add_chanel.category}}</div>
									</td>
									<td class="table-row">
										<div class="label-dark-green label-dark-green_s24">{{item.subscribers}}</div>
									</td>
									<td class="table-row">
										<div class="label-dark label-dark_s20">{{item.views}}</div>
									</td>
									<td class="table-row">
										<div class="label-dark label-dark_s20">{{er|floatformat:2 }}%</div>
									</td>
									<td class="table-row">
										<div class="label-dark label-dark_s20">{{last_cost_format.placement_format}}</div>
									</td>
									<td class="table-row">
										<a href="{% url 'page' item.pk %}" target="_blank" class="label-dark-green hhv-blue label-underline label-dark-green_s24" type="button">Детальніше</a>
									</td>
								</tr>
							 {% endwith %}
               				 {% endwith %}



							 {% endfor %}

							</tbody>
						</table>
					</div>

					<div class="search-channels__bottom">
						<div class="search-channels__nums tabs-navigation">
							{% for p in page_obj.paginator.page_range %}
								 {% if page_obj.number == p %}
								<a href="?page={{ p }}">
								<button class="search-channels__num tabs-navigation__title _tab-active" type="button">{{p}}</button>
								</a>
								{% else %}
								<a href="?page={{ p }}">
								<button class="search-channels__num tabs-navigation__title" type="button">{{p}}</button>
								</a>
								{% endif %}
								{% endfor %}
						</div>
						<div class="search-channels__arrows">
							 {% if page_obj.has_previous %}
							<a href="?page={{page_obj.previous_page_number}}" class="search-channels__arrow search-channels__arrow_left" >
								<img class="img-fluid" src="{% static 'img/icons/arrow-left.svg' %}" alt="">
							</a>
							{% else %}
							<a  href="?page={{page_obj.number}}" class="search-channels__arrow search-channels__arrow_left" >
								<img class="img-fluid" src="{% static 'img/icons/arrow-left.svg' %}" alt="">
							</a>
							{% endif %}



							 {% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}" class="search-channels__arrow search-channels__arrow_right" >
								<img class="img-fluid" src="{% static 'img/icons/arrow-left.svg' %}" alt="">
							</a>
							{% else %}
							<a href="?page={{ page_obj.number }}" class="search-channels__arrow search-channels__arrow_right" >
								<img class="img-fluid" src="{% static 'img/icons/arrow-left.svg' %}" alt="">
							</a>
							{% endif %}

						</div>
					</div>
				</div>
			</section>
		</main>
<script>
$(document).ready(function() {

    function setInitialLikeState(chanelId, liked) {
        var currentSrc = liked ? "{% static 'img/catalog/like-fill.svg' %}" : "{% static 'img/catalog/like.svg' %}";
        $(".likeButton[data-chanel-id='" + chanelId + "']").attr("src", currentSrc);
    }

    // Fetch the initial state of liked channels on page load
    $.ajax({
        url: "{% url 'like_toggle' %}",
        type: 'GET',
        success: function(response) {
            // Loop through the liked channels and set the initial state for each button
            for (var i = 0; i < response.liked_channels.length; i++) {
                setInitialLikeState(response.liked_channels[i], true);
            }
        },
        error: function(error) {
            console.error('Error fetching initial like state:', error);
        }
    });

    $(".likeButton").click(function() {
    	console.log('hello world');
        var chanelId = $(this).data("chanel-id");
        var csrfToken = "{{ csrf_token }}";  // Include your CSRF token here


        // Toggle between favorite.png and love.png
        var currentSrc = $(this).attr("src");
        var newSrc = currentSrc.includes("like.svg") ? "{% static 'img/catalog/like-fill.svg' %}" : "{% static 'img/catalog/like.svg' %}";

        // Update the image source
        $(this).attr("src", newSrc);

        // Send a POST request to the server to toggle the like status
        $.ajax({
            url: {% url 'like_toggle' %},
            type: 'POST',
            data: {
                csrfmiddlewaretoken: csrfToken,
                chanel_id:chanelId
            },
            success: function(response) {
                if (response.liked) {
                    // Logic for when the channel is liked
                    console.log('Channel liked!');
                } else {
                    // Logic for when the like is removed (unliked)
                    console.log('Like removed!');
                }
            },
            error: function(error) {
                console.error('Error toggling like:', error);
            }
        });
    });
});
</script>



{% endblock %}