{% extends 'base.html' %}
{% load static %}


{% block content %}
   <main class="page">
			<section class="cart">
			 <form method="post"  enctype="multipart/form-data">
       			 {% csrf_token %}
				<div class="cart__container">
					<h2 class="title">Корзина</h2>
					<div class="cart__item item-cart squire">
						<div class="cart__icon">
							<img class="img-fluid" src="{% static 'img/channel/add.svg' %}" class="dont-fill" alt="">
						</div>
						<div class="item-cart__content">
							<div class="item-cart__row">
								<div class="label-black label-black_s24">Опубликованно</div>
								<div class="label-black label-black_s24 item-cart__row-val">
									<span class="label-dark-green label-dark-green_s24">0</span>
									публикаций
								</div>
							</div>
							<div class="item-cart__row">
								<div class="label-black label-black_s24">На сумму</div>
								<div class="label-black label-black_s24 label-black_s24 item-cart__row-val">
									<span class="label-dark-green label-dark-green_s24">{{object.format.cost_per_format}}</span>
									UAH
								</div>
							</div>
						</div>
						<div class="item-cart__bottom">
							<button class="button" type="submit">Дать задание каналам</button>
							<button class="item-cart__reset" type="button">
								<img src="{% static 'img/icons/trash.svg' %}" class="dont-fill" alt="">
								<span id="delete-trigger" class="hhv-green">Очистить корзину</span>
							</button>
						</div>
					</div>
					<div class="item-cart-public squire">
						<div class="item-cart-public__head">
							<div class="item-cart-public__avatar">
								<picture><source srcset="/{{ object.chanel.pictures }}" type="image/webp"><img class="img-fluid" src="/{{ object.chanel.pictures }}" alt=""></picture>
							</div>
							<div class="item-cart-public__head-content">
								<div class="item-cart-public__title">{{ object.chanel.name }}</div>
								<div class="item-cart-public__head-text">Требования к публикации</div>
							</div>
							<button class="item-cart-public__exit" type="button">
								<img class="img-fluid" src="{% static 'img/cart/exit.svg' %}" class="dont-fill" alt="">
							</button>
						</div>

							<div class="item-cart-public__item">
								<label for="text" class="label-black label-black_s16">Укажите текст публикации</label>
								<div class="item-cart-public__textarea-wrap">
									{{form.text_ads}}
									<div class="item-cart-public__textarea-bottom">
										<div class="item-cart-public__textarea-bottom-list">
											<button class="textarea-btn" type="button">
												<img src="{% static 'img/cart/1.svg' %}" class="dont-fill" alt="">
												<img src="{% static 'img/cart/1-fill.svg' %}" class="fill" alt="">
											</button>
											<button class="textarea-btn" type="button">
												<img src="{% static 'img/cart/2.svg' %}" class="dont-fill" alt="">
												<img src="{% static 'img/cart/2-fill.svg' %}" class="fill" alt="">
											</button>
											<button class="textarea-btn" type="button">
												<img src="{% static 'img/cart/3.svg' %}" class="dont-fill" alt="">
												<img src="{% static 'img/cart/3-fill.svg' %}" class="fill" alt="">
											</button>
											<button class="textarea-btn textarea-btn_link" type="button">
												<img src="{% static 'img/cart/4.svg' %}" class="dont-fill" alt="">
												<img src="{% static 'img/cart/4-fill.svg' %}" class="fill" alt="">
											</button>
											<button class="textarea-btn" type="button">
												<img src="{% static 'img/cart/5.svg' %}" class="dont-fill" alt="">
												<img src="{% static 'img/cart/5-fill.svg' %}" class="fill" alt="">
											</button>
										</div>
										{{form.media}}
										<button data-da=".item-cart-public__textarea-bottom-list,767.98" id="changePhoto" title="Загрузить фото/видео" class="textarea-btn" type="button">
											<img src="{% static 'img/cart/6.svg' %}" class="dont-fill" alt="">
											<img src="{% static 'img/cart/6-fill.svg' %}" class="fill" alt="">
										</button>
									</div>
								</div>
							</div>
							<div class="item-cart-public__item">
								<label for="subjects" class="label-black label-black_s16">Название заказа:</label>
                                 {{form.name_ads}}
								<p class="item-cart-public__form-text">Это будет видно только вам</p>
							</div>
							<div class="item-cart-public__item">
								<label for="text" class="label-black label-black_s16">Задании</label>
								{{form.comment}}
							</div>
							<div class="item-cart-public__row">
								<div class="label-dark label-dark_s20">
									Стоимость:
									<span class="label-dark_fw700">{{object.format.cost_per_format}} UAH</span>
								</div>
								<div class="checkbox checkbox_radio">
									<input id="dont-checked" data-error="Ошибка" class="checkbox__input checkbox__input_oval" type="checkbox" value="1" name="dont-checked">
									<label for="dont-checked" class="checkbox__label"><span class="checkbox__text">Не заполнено</span></label>
								</div>
							</div>
							<button data-popup="#popup-chat" class="item-cart-public__btn" type="button">
								<img src="{% static 'img/cart/7.svg' %}" class="dont-fill" alt="">
								<img src="{% static 'img/cart/7-fill.svg' %}" class="fill" alt="">
								<span>Перейти в чат с владельцем</span>
							</button>
						</form>
					</div>
				</div>
			</section>
		</main>
		<div id="popup-chat" aria-hidden="true" class="popup popup-chat">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close">
					<img class="img-fluid" src="{% static 'img/cart/exit.svg' %}" alt="">
				</button>
				<div class="popup-chat__head">
					<div class="popup-chat__avatar">
						<picture><source srcset="/{{ object.chanel.add_chanel.username.photo }}" type="image/webp"><img class="img-fluid" src="/{{ object.chanel.add_chanel.username.photo }}" ></picture>
					</div>
					<div class="popup-chat__content">
						<div class="label-black label-black_s24">{{ object.chanel.add_chanel.username.first_name }} {{ object.chanel.add_chanel.username.last_name }}</div>
						{% if object.chanel.add_chanel.username.is_online %}
						 <span class="user__desc" style="color: #20aa20;">Онлайн</span>
						{% else %}
						<div class="label-dark-blue label-dark-blue_s20 label-dark-blue_fw400">Заходил(а) {{ object.chanel.add_chanel.username.last_visited }}</div>
						{% endif %}
					</div>
				</div>
				<div class="popup-chat__body">



				</div>
				<form method="post" class="popup-chat__form form" id="messageForm">
					{% csrf_token %}
					<input type="hidden" name="get_receiver" id="getReceiver" value="{{object.chanel.add_chanel.username.username}}">
					<input type="hidden" name="get_message" id="getMessage" value="{{object.id}}">
					<input class="popup-chat__input" placeholder="Написать" name="get_content" type="text">
					<div class="popup-chat__form-actions">
						<button class="textarea-btn" type="button">
							<img src="{% static 'img/cart/5.svg' %}" class="dont-fill" alt="">
							<img src="{% static 'img/cart/5-fill.svg' %}" class="fill" alt="">
						</button>
						<button class="textarea-btn" type="button">
							<img src="{% static 'img/cart/4.svg' %}" class="dont-fill" alt="">
							<img src="{% static 'img/cart/4-fill.svg' %}" class="fill" alt="">
						</button>
						<button class="textarea-btn textarea-btn_send" type="submit">
							<img src="{% static 'img/cart/send.svg' %}" alt="">
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


<script>
 $(document).ready(function () {
        // AJAX for submitting the form
        $('#messageForm').submit(function (e) {
            e.preventDefault();  // Prevent the form from submitting the traditional way

            // Serialize the form data
            var formData = $(this).serialize();

            // Send an AJAX POST request
            $.ajax({
                type: 'POST',
                url: '{% url 'message' %}',  // Replace with your actual endpoint
                data: formData,
                success: function (data) {
                    // Handle success, update UI if necessary
                    console.log(data.message);
                     $('#messageForm input[name="get_content"]').val('');
                       var sentMessage = $('<div class="message sent">').text(data.message).css('color', '#12599a');
                	   $('.popup-chat__body').append(sentMessage);


                },
                error: function (error) {
                    // Handle error, show error message or log it
                    console.error('Error sending message:', error.responseText);
                }
            });
        });

        // AJAX for getting messages
        function getMessages(messageId) {
            // Send an AJAX GET request
            $.ajax({
                type: 'GET',
                url: '{% url 'message' %}?message_id=' + messageId,  // Replace with your actual endpoint
                success: function (data) {
                    // Handle success, update UI with received messages
                    console.log('Messages received:', data.messages_content);


                	 for (var i = 0; i < data.messages_content.length; i++) {
                    var receivedMessage = $('<div class="message received">').text(data.messages_content[i]).css('color', '#12599a');
                    $('.popup-chat__body').append(receivedMessage);
                }
                },
                error: function (error) {
                    // Handle error, show error message or log it
                    console.error('Error getting messages:', error.responseText);
                }
            });
        }

        // Call the function to get messages on document ready
        getMessages({{object.id}});

        // You may want to set an interval to periodically update the messages
        //setInterval(getMessages, 5000); // Update every 5 seconds (adjust as needed)
    });

document.getElementById('changePhoto').addEventListener('click', function() {
    // Trigger the click event of the hidden file input
    document.getElementById('photoInput').click();
});


  $(document).ready(function() {
    $("#delete-trigger").on("click", function() {
      // AJAX request to delete the item
      $.ajax({
        url: '{% url 'deleteads' item.pk %}',
        method: 'DELETE',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function(data) {
          // Handle success response, e.g., redirect to a different page
          window.location.replace(data.redirect_url);
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}