{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="basket-container">

{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
         {% csrf_token %}


    <main class="main"><div class="basket"><div class="container-fluid"><h4 class="basket__title title">Корзина</h4><div class="basket__box">
        <img src="{% static 'img/add-shopping-cart.png' %}" alt="">
        <div class="basket__box-item"><p>Опубликованно</p>
            <p><span style="color: #008E8B">0</span>публикаций</p>
        </div><div class="basket__box-item"><p>На сумму</p>
        <p><span style="color: #008E8B">{{object.format.cost_per_format}}</span>UAH</p></div>
        <div class="basket__box-bottom">
            <button class="btn-reset">Дать задание каналам</button> <span><img src="img/trash.png" alt=""> Очистить корзину</span></div></div><div class="basket__user"><div class="d-flex justify-content-between mb-5"><div class="d-flex align-items-center gap-3"><div><img src="/{{ object.chanel.pictures }}" width="100px" height="100px" alt=""></div>
        <div><p class="user__title">{{ object.chanel.name }}</p><span class="user__desc">Требования к публикации</span></div></div><div><img src="{% static 'img/close.png' %}" alt=""></div></div>
        <label>Укажите текст публикации {{form.text_ads}}{{form.media}} </label> <label>Название заказа
            {{form.name_ads}}

            <span class="info__basket">Это будет видно только вам</span></label> <label>Комментарии
            {{form.comment}}

        </label><div class="basket__user-bottom">
        <p class="bottom-text">Стоимость: <b>{{object.format.cost_per_format}} UAH</b></p><div class="form-check"><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"> <label class="form-check-label" for="flexRadioDefault1">Не заполнено</label></div></div><button class="btn-reset mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="img/Chat Message.png" alt=""> Перейти в чат с владельцем</button></div></div></div></main></div>
        </form>
    {% endblock %}