{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="faq-container">
{% endblock %}
{% block content%}

    <main class="main"><div class="faq"><div class="container-fluid">
        <h4 class="faq__title title">Чем мы можем вам помочь?</h4><div class="row"><div class="col-6"><label class="faq__search"><input type="text" class="form-control" placeholder="Найти ответы"> <img class="faq__search-icon" src="{% static 'img/search.png' %}" alt=""></label></div><div class="col-6 d-flex justify-content-end"><div class="faq__img"><img src="{% static 'img/internship-animate.svg' %}" alt=""></div></div></div>
        <div class="faq__accordion">
            <div class="accordion" id="accordionExample">
                {% for item in items %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ item.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
                {{ item.question }}
            </button>
        </h2>
        <div id="collapse{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.id }}" data-bs-parent="#accordionExample">
            <div class="accordion-body">{{ item.answers|linebreaksbr }}</div>
        </div>
    </div>
{% endfor %}

            </div></div><h4 class="faq__info">Не нашли то что искали? Задайте вопрос</h4><div class="faq__form"><form action=""><textarea class="form-control" placeholder="Вопрос" rows="10"></textarea><div class="d-flex justify-content-between align-items-center faq__form-bottom"><button class="btn-reset">Отправить</button><div class="d-flex flex-column"><p class="bottom__title">Позвоните нам:</p><span class="bottom__desc">Тех.поддержка</span> <a href="tel:+380999232887" class="bottom__link">+380999232887</a></div></div></form></div></div></div></main></div>


    {% endblock %}