{% extends 'base.html' %}
{% load static %}

{% block content%}

   <main class="page">
			<section class="faq-mainscreen">
				<div class="faq-mainscreen__container">
					<div class="faq-mainscreen__content container">
						<h1 class="title title_center">Чем мы можем вам помочь?</h1>

					</div>


				</div>
			</section>
			<section class="faq-spollers">
				<div class="faq-spollers__container">
					<div data-tabs class="tabs">
						<nav data-tabs-titles class="tabs-navigation">
							<button type="button" class="tabs-navigation__title _tab-active">Общие</button>
							<button type="button" class="tabs-navigation__title">Самые популярные</button>
							<button type="button" class="tabs-navigation__title">Реклама</button>
							<button type="button" class="tabs-navigation__title">Финансы</button>
							<button type="button" class="tabs-navigation__title">Обратная связь</button>
						</nav>
						<div data-tabs-body class="tabs__content">
							<div class="tabs__body">
								<div data-spollers class="spollers">
                                    {% for item in items %}

									<div class="spollers__item">
										<button type="button" data-spoller class="spollers__title label-black label-black_s20">
											<span>{{ item.question }}</span>
											<img class="arrow" src="{% static 'img/icons/arrow-down-pink.svg' %}" alt="">
										</button>
										<div class="spollers__body">
											{{ item.answers|linebreaksbr }}
										</div>
									</div>

                                    {% endfor %}

                                </div>
							</div>
							<div class="tabs__body">
								Содержимое второго таба
							</div>
							<div class="tabs__body">
								Содержимое третьего таба
							</div>
							<div class="tabs__body">
								Содержимое четвертого таба
							</div>
							<div class="tabs__body">
								Содержимое пятого таба
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="faq-form">
				<div class="faq-form__container container">
					<h2 class="label-white label-white_s36">Не нашли то что искали? Задайте вопрос</h2>
					<form action="#" method="post" class="form-faq squire">
						<textarea class="form-faq__textarea" id="question" name="question" placeholder="Вопрос"></textarea>
						<div class="form-faq__actions">
							<button class="button button_sm" type="submit">Отправить</button>

						</div>
					</form>
				</div>
			</section>
		</main>


    {% endblock %}