{% extends 'base.html' %}
{% load static %}

{% block content%}

   <main class="page">
			<section class="faq-mainscreen">
				<div class="faq-mainscreen__container">
					<div class="faq-mainscreen__content container">
						<h1 class="title title_center">Поширені запитання?</h1>

					</div>


				</div>
			</section>
			<section class="faq-spollers">
				<div class="faq-spollers__container">
					<div data-tabs class="tabs">
						<nav data-tabs-titles class="tabs-navigation">
							{% for item in subjects %}
							{% if forloop.first %}
        <button type="button" class="tabs-navigation__title _tab-active">{{ item.subjects }}</button>
    {% else %}
        <button type="button" class="tabs-navigation__title">{{ item.subjects }}</button>
    {% endif %}
							{% endfor %}
						</nav>
						<div data-tabs-body class="tabs__content">
							 {% for i in subjects %}
							<div class="tabs__body">
								<div data-spollers class="spollers">

									{% for item in items %}

									 {% if item.subjects == i %}

									<div class="spollers__item">
										<button type="button" data-spoller class="spollers__title label-black label-black_s20">
											<span>{{ item.question }}</span>
											<img class="arrow" src="{% static 'img/icons/arrow-down-pink.svg' %}" alt="">
										</button>
										<div class="spollers__body">
											{{ item.answers|linebreaksbr }}
										</div>
									</div>
									{% endif %}

									{% endfor %}



                                </div>
							</div>
							  {% endfor %}

						</div>
					</div>
				</div>
			</section>

			<section class="faq-form">
				<div class="faq-form__container container">
					<h2 class="label-white label-white_s36">Не нашли то что искали? Задайте вопрос</h2>
					<form  method="post" class="form-faq squire" id="form">

						{% csrf_token %}
						{{form.question}}
							{% if messages %}
					   {% for message in messages %}

							   <p style="color:green">{{message}}</p>
							{% endfor %}

					{% endif %}
						<div class="form-faq__actions">
							<button class="button button_sm" type="submit">Отправить</button>

						</div>
					</form>
				</div>
			</section>
		</main>


    {% endblock %}