{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="page">
			<section class="mainscreen">
				<div class="mainscreen__container">
					<div class="mainscreen__content">
						<h1 class="mainscreen__title">
							<span>Платформа для размещения нативной рекламы в Телеграм </span> <br>
							со встроенным сервисом аналитики телеграмм каналов
						</h1>
						<a href="{% url 'category-list' %}"><button class="mainscreen__btn button button_gradient" type="button">Разместить рекламу</button></a>
					</div>
				</div>
				<picture><source srcset="{% static 'img/mainscreen/1.webp' %}" type="image/webp"><img class="mainscreen__bg" src="{% static 'img/mainscreen/1.png' %}" alt="Платформа для размещения нативной рекламы в Телеграм со встроенным сервисом аналитики телеграмм каналов"></picture>
			</section>
			<section class="advantages">
				<div class="advantages__container container">
					<h2 class="title title_center">Преимущества рекламной платформы</h2>
					<div class="advantages__list">
						<div class="item-advantages squire squire_sm">
							<div class="item-advantages__img">
								<picture><source srcset="{% static 'img/advantages/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/advantages/1.png' %}" alt="Эффективные форматы рекламы"></picture>
							</div>
							<h4 class="label-dark-blue label-dark-blue_s24">Эффективные форматы рекламы</h4>
							<p class="label-light-blue">Нативные рекламные публикации и репосты</p>
						</div>
						<div class="item-advantages squire squire_sm">
							<div class="item-advantages__img">
								<picture><source srcset="{% static 'img/advantages/2.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/advantages/2.png' %}" alt="Большой реальный охват аудитории"></picture>
							</div>
							<h4 class="label-dark-blue label-dark-blue_s24">Большой реальный охват аудитории</h4>
							<p class="label-light-blue">Высокий показатель просмотра публикаций, до 40% от подписчиков</p>
						</div>
						<div class="item-advantages squire squire_sm">
							<div class="item-advantages__img">
								<picture><source srcset="{% static 'img/advantages/1.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/advantages/1.png' %}" alt="Аналитика эффективности"></picture>
							</div>
							<h4 class="label-dark-blue label-dark-blue_s24">Аналитика эффективности</h4>
							<p class="label-light-blue">Встроенная система аналитики эффективности рекламы</p>
						</div>
						<div class="item-advantages squire squire_sm">
							<div class="item-advantages__img">
								<picture><source srcset="{% static 'img/advantages/4.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/advantages/4.png' %}" alt="Гибкая система третирования"></picture>
							</div>
							<h4 class="label-dark-blue label-dark-blue_s24">Гибкая система третирования</h4>
							<p class="label-light-blue">Выбирайте Телеграмм каналы, соответствующие по тематике и показателям эффективности</p>
						</div>
						<div class="item-advantages squire squire_sm">
							<div class="item-advantages__img">
								<picture><source srcset="{% static 'img/advantages/5.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/advantages/5.png' %}" alt="Удобный кабинет рекламодателя"></picture>
							</div>
							<h4 class="label-dark-blue label-dark-blue_s24">Удобный кабинет рекламодателя</h4>
							<p class="label-light-blue label-light-blue_s20">Вы сможете самостоятельно размещать рекламные публикации</p>
						</div>
					</div>
				</div>
			</section>
			<section class="counters">
				<div class="counters__container">
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Кол-во ТГ каналов</div>
						<div class="counters__num">{{lists}}</div>

					</div>
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Кол-во подписчиков</div>
						{% if subscribers %}
						<div class="counters__num">{{subscribers}}</div>
						{% else %}
						<div class="counters__num">0</div>
						{% endif %}
					</div>
					<div class="counters__item">
						<div class="label-blue label-blue_s24">Суммарный охват</div>
						 {% if total_views %}
						<div class="counters__num">{{total_views}}</div>
						{% else %}
						<div class="counters__num">0</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section class="current-offers">
				<div class="current-offers__container container">
					<h2 class="title title_center">Актуальные предложения</h2>
					<div data-showmore class="current-offers">
						<div data-showmore-content="705" class="current-offers__content">
							<div class="table-wrap">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">
												<div class="label-white label-white_s16">Канал</div>
											</th>
											<th scope="col">
												<div class="label-white label-white_s16">Подписчики</div>
											</th>
											<th>
												<div class="label-white label-white_s16">Охват</div>
											</th>
											<th>
												<div class="label-white label-white_s16">Размещение</div>
											</th>
											<th>

											</th>
										</tr>
									</thead>
									<tbody>
									{% for item in count %}
									{% with last_cost_format=item.add_chanel.cost_formats.last %}
										<tr>
											<td class="table-row" scope="row">
												<div class="table-row__head">
													<a href="{% url 'page' item.pk  %}" target="_blank" class="table-row__img">
														<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
													</a>
													<div class="table-row__content">
														<div class="table-row__content">
															<a href="{% url 'page' item.pk  %}" target="_blank" class="label-white hhv-blue">{{item.name}}</a>
															<a href="{{item.chanel_link}}" class="table-row__name">
																{{item.chanel_link}}
															</a>
														</div>
													</div>
												</div>
											</td>
											<td class="table-row">
												<div class="label-white">{{item.subscribers}}</div>
											</td>
											<td class="table-row">
												<div class="label-white">{{item.views}}</div>
											</td>
											<td class="table-row">
												<div class="table-row__column">
													<div class="label-light-green">{{ last_cost_format.cost_per_format }} UAH</div>
													<div class="label-white">{{ last_cost_format.placement_format }}</div>
												</div>
											</td>
											<td class="table-row">
												<a href="{% url 'page' item.pk  %} ">
												<button class="button button_dark-green button_sm button_no-bg" type="button">Описание</button></a>
											</td>
										</tr>

									{% endwith %}
            						{% endfor %}



									</tbody>
								</table>
							</div>
						</div>
						<div class="current-offers__bottom">
							<button hidden data-showmore-button type="button" class="current-offers__more label-blue label-blue_s24 label-underline hhv-green">
								<span>Посмотреть все</span><span>Скыть</span>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section class="place-ad">
				<picture><source srcset="{% static 'img/place-ad/1.webp' %}" type="image/webp"><img class="place-ad__bg" src="{% static 'img/place-ad/1.png' %}" alt=""></picture>
				<div class="place-ad__container container container_big">
					<h2 class="title title_center">Разместить рекламу</h2>
					<div class="place-ad__content">
						<div class="place-ad__text text-wrap">
							<p class="text">
								Скудный функциональный арсенал телеграма ограничивает читателя в подборе качественных площадок. Обычному обывателю слишком сложно аргументированно ответить
								на вопрос «как искать интересные телеграм каналы», поэтому мы помогаем справиться с этой задачей в два клика.
							</p>
							<p class="text">
								Здесь вы можете рекламировать:
							</p>
							<div>
								<p class="text">
									B2B/B2Cтовары и услуги
								</p>
								<p class="text">
									Обучающие курсы, вебинары и семинары
								</p>
								<p class="text">
									Онлайн сервисы и мобильные приложения
								</p>
								<p class="text">
									Онлайн и офлайн ивенты
								</p>
								<p class="text">
									Телеграмм каналы и социальные сети
								</p>
							</div>
						</div>
						<div class="place-ad__actions">
							<a href="{% url 'register' %}" class="button button_gradient button_mobi-sm" type="button">Зарегистрироваться по телефону или эл.почте</a>
							<div class="label-white label-white_s16 label-white_fw700">или продолжить с</div>
							<div class="place-ad__btns">
								<button class="button button_sm button_no-bg" type="button">
									<picture><source srcset="{% static 'img/place-ad/tg.webp' %}" type="image/webp"><img src="{% static 'img/place-ad/tg.png' %}" alt=""></picture>
									Telegram
								</button>
								<button class="button button_sm button_no-bg" type="button">
									<picture><source srcset="{% static 'img/place-ad/google.webp' %}" type="image/webp"><img src="{% static 'img/place-ad/google.png' %}" alt=""></picture>
									Google
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="reviews">
				<div class="reviews__container container">
					<div class="reviews__head">
						<h2 class="title title_center">Отзывы наших клиентов</h2>
					</div>
					<div data-showmore="items" class="reviews">
						<ul data-showmore-content="1" class="reviews__content reviews__list">
							{% for item in feedback %}
							<li class="item-reviews squire">
								<div class="label-black label-black_s20">{{item.name}}</div>
								<a href="" target="_blank" class="item-reviews__link hhv-blue">{{item.company_name}}</a>
								<div class="item-reviews__stars">
									<img class="item-reviews__star" src="{% static 'img/icons/star.svg' %}" alt="">
									<img class="item-reviews__star" src="{% static 'img/icons/star.svg' %}" alt="">
									<img class="item-reviews__star" src="{% static 'img/icons/star.svg' %}" alt="">
									<img class="item-reviews__star" src="{% static 'img/icons/star.svg' %}" alt="">
									<img class="item-reviews__star" src="{% static 'img/icons/star.svg' %}" alt="">
								</div>
								<div data-showmore data-showmore-media="480" class="item-reviews">
									<div data-showmore-content="65" class="item-reviews__content">
										<p class="text text_s20 text_black">
											{{item.feedback}}
										</p>
									</div>
									<button hidden data-showmore-button type="button" class="item-reviews__more"><span>Еще</span><span>Скыть</span></button>
								</div>
							</li>
							{% endfor %}

						</ul>
						<div class="reviews__bottom">
							<button hidden data-showmore-button type="button" class="reviews__more hhv-blue"><span>Все отзывы</span><span>Скыть</span></button>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}




