{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="channel-container">
{% endblock %}
    {% block content %}

    <main class="main"><div class="channel"><div class="container-fluid"><h4 class="channel__title title">Сохраненное</h4>

        <table class="table table-borderless"><thead><tr><th scope="col">Название <img src="img/sort-down.png" alt=""></th><th scope="col">Каналы</th><th scope="col">Дата обновления</th></tr></thead><tbody class="table-group-divider"><tr><td scope="row">Выбранное</td><td><span>{{count}}</span></td><td>{{ last_update.created_at}}</td></tr></tbody></table></div></div></main></div>


    {% endblock %}