<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/{{ user_photo }}"
<a href="{% url 'ads' %}">CreateAds</a>
<br>
Name:{{user.first_name}}
<br>
Lastname:{{user.last_name}}
<br>
Email:{{user.email}}
<br>
Balance:{{user.balance}}{{user.currency}}
<br>
Мои Заказы:
{% for item in order %}
{{item.name_ads}}
{{item.chanel.chanel_link}}





<img src="/{{item.media}}" alt="" width="100"
     height="100">

<br>
{% endfor %}

</body>
</html>