{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="registration-container">
{% endblock %}
 {% block content %}

    <main class="main"><div class="registration">
        <div class="container-fluid"><div class="registration__form">
            <form   id="registrationForm"  method="post" action="{% url 'create' %}">
                <h3 class="registration__form-title">Регистрация</h3>
                <div class="registration__form-radio">
                      {% for radio in form.order %}
        <label>
            {{ radio.tag }}
            <span>{{ radio.choice_label }}</span>
        </label>
    {% endfor %}

                </div>

                <div class="registration__form-input">
                    {% csrf_token %}
                    {{ form.username}}
                    {{ form.last_name}}
                    {{ form.email}}
                    {{ form.phone_number}}
                    {{ form.password1}}






                </div>
                <br>
                {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
                <a href="" class="registration__form-link">Соглашение об использовании персональных данных</a>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="registration__form-btn btn-reset">Завершить регистрацию</button></div>
                <p class="registration__form-info">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </form><p class="registration__desc">или продолжить с</p><div class="registration__buttons"><a class="registration__buttons-social" href="#">


        <img src="{% static 'img/telegram.png' %}" alt=""> Telegram </a><a class="registration__buttons-social" href="#">
        <img src="{% static 'img/google.png' %}" alt=""> Google</a></div></div></div></div></main></div></body></html>


<script>
        $(document).ready(function() {
            $('#registrationForm').on('submit', function(event) {
                event.preventDefault();

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: form.serialize(),
                    success: function(response) {
                        console.log('POSTED!');
                    },
                    error: function() {
                        console.log('An error occurred!');
                    }
                });
            });
        });
    </script>


    {% endblock %}