{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="page">
			<section class="owner-cabinet">
				<div class="owner-cabinet__container">
					<div data-tabs class="tabs">
						<div class="tabs-row">
							<nav data-tabs-titles class="tabs-navigation">



								<button type="button" class="tabs-navigation__title _tab-active" id="my_channels">Мої канали</button>

								<button type="button" class="tabs-navigation__title" id="requests">Заявки на розміщення</button>




							</nav>
							<div class="tabs-row__item">
								  {% if request.GET.order_data == 'order_data' %}
                             <select  id="date_select" name="order_data" data-class-modif="custom-select">

                                 <option value="order_data" selected>За датою</option>

                                 <option value="alpha" >За алфавітом</option>

                        </select>
                          {% else %}
                            <select  id="date_select" name="order_data" data-class-modif="custom-select">
                            <option value="alpha" selected>За алфавітом</option>
                            <option value="order_data">За датою</option>
                        </select>
                            {% endif %}
                        </select>
							</div>
						</div>
						<div data-tabs-body class="tabs__content">


							<div class="tabs__body" id="first">
								<div class="owner-cabinet__nav">
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title _active">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/1.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/1-fill.svg' %}" alt="">
											</div>
											Все
										</button>
										<div class="owner-cabinet__nav-count">{{number}}</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/2.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/2-fill.svg' %}" alt="">
											</div>
											Активні
										</button>
										<div class="owner-cabinet__nav-count">0</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/3.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/3-fill.svg' %}" alt="">
											</div>
											Неактивні
										</button>
										<div class="owner-cabinet__nav-count">0</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/4.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/4-fill.svg' %}" alt="">
											</div>
											На модерації
										</button>
										<div class="owner-cabinet__nav-count">0</div>
									</div>
								</div>
								 {% if number == 0 %}
								<div class="not-found-channels">

									<div class="not-found-channels__img">
										<picture><source srcset="{% static 'img/owner-cabinet/bg.webp' %}" type="image/webp"><img class="img-flud" src="{% static 'img/owner-cabinet/bg.png' %}" alt=""></picture>
									</div>

									<div class="not-found-channels__title">Каналів немає</div>
									<p class="not-found-channels__text text text_s20">
										Ви ще не додали жодного каналу
									</p>
									<a href="{% url 'create' %}"><button class="button button_gradient" type="button">Додати канал</button></a>


								</div>
								{% endif %}

								{% if chanel %}
								<div class="table-wrap">
									<table class="table table_w">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">
													<div class="label-white label-white_s16">Передплатники</div>
												</th>
												<th>
													<div class="label-white label-white_s16">Посилання</div>
												</th>
												<th>
													<div class="label-white label-white_s16">Охоплення</div>
												</th>
												<th>

												</th>
											</tr>
										</thead>
										<tbody>
                                       {% for item in chanel %}
											<tr>
												<td class="table-row" scope="row">
													<div class="table-row__head table-row__head_center">
														<a href="#" target="_blank" class="table-row__img">
															<picture><source srcset="/{{item.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.pictures}}" alt=""></picture>
														</a>
														<div class="table-row__content">
															<div class="table-row__content">
																<a href="#" target="_blank" class="label-dark-blue label-dark-blue_s20 hhv-green"> {{item.name}}</a>
															</div>
														</div>
													</div>
												</td>
												<td class="table-row">
													<button type="button"  class="label-dark label-dark_s16 label-underline hhv-green">
														{{item.subscribers}}</button>
												</td>
												<td class="table-row">
													<a href="{{item.chanel_link}}" target="_blank" class="label-dark-blue label-dark-blue_s16 label-underline hhv-green">{{item.chanel_link}}</a>
												</td>
												<td class="table-row">
													<div class="label-dark-green label-dark-green_fw700 label-dark_s20">
														{{item.views}} </div>
												</td>

											</tr>

                                        {% endfor %}

										</tbody>
									</table>

								</div>
								<div class="not-found-channels">
								<a href="{% url 'create' %}"><button class="button button_gradient" type="button">Додати канал</button></a></div>

							   {% endif %}


							</div>

                            <div class="tabs__body" id="second">
								<div class="owner-cabinet__nav">
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title _active">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/1.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/1-fill.svg' %}" alt="">
											</div>
											Все
										</button>
										<div class="owner-cabinet__nav-count">{{count}}</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/2.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/2-fill.svg' %}" alt="">
											</div>
											Активні
										</button>
										<div class="owner-cabinet__nav-count">{{aprove_admin}}</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/3.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/3-fill.svg' %}" alt="">
											</div>
											Неактивні
										</button>
										<div class="owner-cabinet__nav-count">0</div>
									</div>
									<div class="owner-cabinet__nav-item">
										<button type="button" id="like" class="owner-cabinet__nav-title">
											<div class="table-row__btn" type="button">
												<img class="not-fill img-fluid" src="{% static 'img/owner-cabinet/4.svg' %}" alt="">
												<img class="fill img-fluid" src="{% static 'img/owner-cabinet/4-fill.svg' %}" alt="">
											</div>
											На модерації
										</button>
										<div class="owner-cabinet__nav-count">{{aprove_owner}}</div>
									</div>
								</div>
								{% if order %}
								<div class="table-wrap">
									<table class="table table_w">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">
													<div class="label-white label-white_s16">Комментарий</div>
												</th>
												<th>
													<div class="label-white label-white_s16">Публикация</div>
												</th>
												<th>
													<div class="label-white label-white_s16">Цена</div>
												</th>
												<th>

												</th>
											</tr>
										</thead>
										<tbody>
                                       {% for item in order %}
											<tr>
												<td class="table-row" scope="row">
													<div class="table-row__head table-row__head_center">
														<a href="#" target="_blank" class="table-row__img">
															<picture><source srcset="/{{item.chanel.pictures}}" type="image/webp"><img class="img-fluid" src="/{{item.chanel.pictures}}" alt=""></picture>
														</a>
														<div class="table-row__content">
															<div class="table-row__content">
																<a href="#" target="_blank" class="label-dark-blue label-dark-blue_s20 hhv-green"> {{item.chanel.name}}</a>
															</div>
														</div>
													</div>
												</td>
												<td class="table-row">
													<button type="button" data-popup="#comment{{item.id}}" class="label-dark label-dark_s16 label-underline hhv-green">Cмотреть</button>
												</td>
												<td class="table-row">
													<a href="{{item.chanel.chanel_link}}" target="_blank" class="label-dark-blue label-dark-blue_s16 label-underline hhv-green">{{item.chanel.chanel_link}}</a>
												</td>
												<td class="table-row">
													<div class="label-dark-green label-dark-green_fw700 label-dark_s20">
                                                         {{item.format.cost_per_format}} UAH</div>
												</td>
												<td class="table-row">
													 {% if item.status == "WT" %}

													<button class="button button_sm button_no-bg" data-popup="#aprove{{item.id}}"  type="button">Одобрить</button>
													 {% else %}
													<button  class="button button_sm button_no-bg" data-popup="#aprove{{item.id}}"  type="button">Одобрено</button>
													{% endif %}

												</td>
											</tr>

                                        {% endfor %}
										</tbody>
									</table>
								</div>
								{% endif %}
							</div>




						</div>
					</div>
				</div>
			</section>
		</main>

{% for item in order %}
<div id="comment{{item.id}}" aria-hidden="true" class="popup popup-chat popup-comment">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close">
					<img class="img-fluid" src="{% static 'img/cart/exit.svg' %}" alt="">
				</button>
				<div class="popup-chat__head popup-chat__head_border-none">
					<div class="popup-chat__avatar">
						<picture><source srcset="/{{item.user_order.photo}}" type="image/webp"><img class="img-fluid" src="/{{item.user_order.photo}}" ></picture>
					</div>
					<div class="popup-chat__content">
						<div class="label-black label-black_s24">{{item.user_order.username}}</div>
						<div class="label-dark-blue label-dark-blue_s20 label-dark-blue_fw400">Заходил(а) в {{item.user_order.last_visited}}</div>
					</div>
				</div>
				<div class="popup-comment__body">
					<p class="text text_black">
						{{item.comment }}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}



{% for item in order %}
<div id="comment{{item.id}}" aria-hidden="true" class="popup popup-chat popup-comment">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close">
					<img class="img-fluid" src="{% static 'img/cart/exit.svg' %}" alt="">
				</button>
				<div class="popup-chat__head popup-chat__head_border-none">
					<div class="popup-chat__avatar">
						<picture><source srcset="/{{item.user_order.photo}}" type="image/webp"><img class="img-fluid" src="/{{item.user_order.photo}}" ></picture>
					</div>
					<div class="popup-chat__content">
						<div class="label-black label-black_s24">{{item.user_order.username}}</div>
						<div class="label-dark-blue label-dark-blue_s20 label-dark-blue_fw400">Заходил(а) в {{item.user_order.last_visited}}</div>
					</div>
				</div>
				<div class="popup-comment__body">
					<p class="text text_black">
						{{item.comment }}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% for item in order %}
<div id="aprove{{item.id}}" aria-hidden="true" class="popup popup-chat popup-comment">
		<div class="popup__wrapper">
			<div class="popup__content">
				<button data-close type="button" class="popup__close">
					<img class="img-fluid" src="{% static 'img/cart/exit.svg' %}" alt="">
				</button>
                 <div class="auth-form__container">
				 <form action="{% url 'update' item.pk %}"  method="post" class="auth-form__form">
					  {% csrf_token %}

					<img src="/{{item.media}}" alt="">

					<textarea class="auth-form__input">Текст:{{item.text_ads}}</textarea>
					<p class="auth-form__input">Время:{{item.order_data}}</p>
					<p class="auth-form__input">Формат:{{item.format.placement_format}}</p>
					<p class="auth-form__input">Цена:{{item.format.cost_per_format}}UAH</p>


					 {{form.status}}
					   <div class="auth-form__form-bottom">
                        <button class="button" type="submit">Одобрить</button>
                    </div>



				</form>
				 </div>





				</div>
			</div>
		</div>
	</div>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
        if (window.location.hash === "#noti") {
            document.getElementById("my_channels").classList.remove("_tab-active");
            document.getElementById("requests").classList.add("_tab-active");
             document.getElementById("first").style.display = "none";
             document.getElementById("second").style.display = "block";
              document.getElementById("my_channels").addEventListener("click", function() {
     		 window.location.href = window.location.href.split('#')[0];
});
        }
    });




    $(document).ready(function() {


      var imgElement = document.getElementById("img");
      imgElement.src = "{% static 'img/icons/arrow-down-pink.svg' %}";

        // Listen for the change event on the select element
             $('select[name="order_data"]').on('change', function() {
            // Get the selected value
            var selectedValue = $(this).val();

            // Update the URL with the selected value
            if (selectedValue === 'order_data') {
                alert('hello');

                // Example: Redirect to a new URL
                var currentUrl = window.location.href.split('?')[0];
                var newUrl = currentUrl + '?order_data=order_data';
                window.location.href = newUrl;
            }
        });
    });
</script>

    {% endblock %}