{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="cabinet-container">
{% endblock %}
    {% block content %}
    <main class="main"><div class="cabinet"><div class="container-fluid"><div class="cabinet__header"><div class="cabinet__tabs"><a href="{% url 'logging' %}" class="active">Мое</a> <a href="{% url 'zayavka' %}">Заявки на размещение</a>
        <a href="">Финансы</a> <a href="">Помощь</a></div>
        <select class="form-select" aria-label="Default select example"><option selected="selected">По кол-ву заявок</option><option value="1">One</option><option value="2">Two</option><option value="3">Three</option></select>
    </div><div class="cabinet__row"><div class="cabinet__list"><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="color: #00F1A0; width: 10rem"><img src="{% static 'img/Albums.png' %}" alt="">
        Все</p><p class="cabinet__list-title">{{count}}</p></div><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/Wall Clock.png' %}" alt="">
        Активные</p><p class="cabinet__list-title">0</p></div><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/No Rotation.png' %}" alt="">
        Неактивные</p><p class="cabinet__list-title">0</p></div><div class="d-flex align-items-center gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/System Task.png' %}" alt="">
        На модерации</p><p class="cabinet__list-title">0</p></div></div>

    <div class="cabinet__row-img">
        <img src="{% static 'img/Empty-amico 2.png' %}" alt="">
        {% if count == 0 %}
        <p class="cabinet__row-title">Каналов нет</p>
        <p class="cabinet__row-desc">Вы еще не добавили ни одного канала</p>
        {% endif %}
        <a href="{% url 'create' %}">
            <button class="btn-reset button__custom">Добавить канал</button>
        </a>
    </div>

        </div></div>
                {% if count > 0 %}
                <div class="cabinet__boxes"><div class="cabinet__boxes-info d-flex"><p style="width: 25rem">ПОДПИСЧИКИ</p><p>ЛИНК</p><p>ОХВАТ</p></div>
                    <div class="cabinet__boxes-cards">
                        {% for item in chanel %}
                        <div class="box"><div class="d-flex align-items-center gap-3"><div><img src="/{{item.pictures}}" width="75px" height="75px" alt=""></div><div><p class="box__title">
                            {{item.name}}</p></div></div><p class="desc">{{item.subscribers}}</p><span class="green">{{item.chanel_link}}</span><p class="bold">
                            {{item.views}}</p>



                        </div>
                        {% endfor %}

                    </div></div>

    </div>
        {% endif %}
</div></main></div>



    </main></div>


    {% endblock %}