{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="cabinet-container">
{% endblock %}
    {% block content %}
    <main class="main">
        <form method="post" enctype="multipart/form-data">
               {% csrf_token %}



        <div class="personal__cabinet"><div class="container-fluid"><div class="personal__cabinet-row"><div class="cards"><div class="d-flex gap-5 align-items-center">
            <div class="d-flex flex-column gap-3 align-items-center">
                <div>
            <img src="/{{user.photo}}"  width="150px" height="150px" alt="">

                </div>

                <p class="p-photo-title" id="changePhoto" style="cursor: pointer;">Сменить фото</p>
                {{form.photo}}



            </div>


            <div><h3 class="p-title">{{user.first_name}} {{user.last_name}}</h3><div class="d-flex gap-3"><div>
                <img src="{%static 'img/Money_Box.png' %}" alt="">
            </div><div class="d-flex flex-column"><p class="p-balance">Баланс</p><p class="p-price">

            {{user.balance}} UAH</p></div></div><p class="p-email">Email: <a href="mailto:leonid.nsl@gmail.com">{{user.email}}</a></p><p class="p-phone">Номер телефона: <a href="mailto:{{user.email}}">{{user.phone_number}}</a></p></div><div><button class="btn-reset">Вывод средств</button>
        </div></div>
            <textarea class="form-control" placeholder="О себе" rows="4">О вас, как о владельце площадок</textarea></div><div class="inputs"><div><p class="p-setting">Настройки</p><label class="input-label">Telegram: <button class="btn-reset">Прикрепить</button></label>
            <label class="input-label">Email:
                {{form.email}}
            </label> <label class="input-label">Номер телефона:
                {{form.phone_number}}
            </label>
            <button class="btn-pay">Сохранить</button></div>
            <div>
            <label class="input-label">Часовой пояс: {{form.timezone}}

            </label>
            </div></div></div></div></div></main></div>
             </form>


<script>
document.getElementById('changePhoto').addEventListener('click', function() {
    // Trigger the click event of the hidden file input
    document.getElementById('photoInput').click();
});

// Add an event listener to the file input for when a file is selected
document.getElementById('photoInput').addEventListener('change', function(event) {
    // Get the selected file
    const selectedFile = event.target.files[0];

    // You can perform additional checks on the file if needed

    // Example: Display the file name
    alert('Selected file: ' + selectedFile.name);

    // Here, you can perform the file upload logic or use the selected file as needed
});
</script>



    {% endblock %}