{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <main class="page">
			<section class="account-mainscreen">
				<div class="account-mainscreen__container">


					<div class="info-account">
						<div class="info-account__item">
							<div class="info-account__head">
								<div class="info-account__img-wrap">
									<div class="info-account__img">
                                        {% if user.photo %}
                                        <picture><source srcset="/{{user.photo}}" type="image/webp"><img class="img-fluid" src="/{{user.photo}}" alt=""></picture>

                                        {% else %}

										<picture><source srcset="{% static 'img/channel/avatar-not-found.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/channel/avatar-not-found.png' %}" alt=""></picture>
									    {% endif %}
                                    </div>
									<button class="info-account__label hhv-blue" id="changePhoto" type="button">Змінити фото</button>

								</div>
								<div class="info-account__head-content">
									<div class="label-dark label-dark_s24">{{user.first_name}} {{user.last_name}}</div>
									<div class="info-account__row">
										<div class="info-account__row-item">
											<div class="info-account__icon">
												<img class="img-fluid" src="{% static 'img/icons/pig.svg' %}" alt="">
											</div>
											<div class="info-account__row-content">
												<div class="label-black label-black_s16">Баланс</div>
												<div class="label-blue label-blue_s16">{{user.email}}</div>
											</div>
										</div>
										<a class="button button_sm button_no-bg" href="{% url 'balance' %}">Виведення коштів</a>
									</div>
									<div data-da=".info-account__content,480.98,first" class="info-account__head-email">
										<span class="label-black label-black_s16">Email:</span>
										<a href="mailto:{{user.email}}">{{user.email}}</a>
									</div>
									<div data-da=".info-account__content,480.98,first" class="info-account__head-email">
										<span class="label-black label-black_s16">Номер телефону:</span>
										<a href="tel:+380503315146"> {{user.phone_number}}</a>
									</div>
								</div>
							</div>
							<div class="info-account__content">
								<textarea class="info-account__textarea" placeholder="Про вас, як про власника каналів" name="about" id="about"></textarea>
							</div>
						</div>
					</div>
					<form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         {{form.photo}}
						<h2 class="label-white label-white_s24">Настройка</h2>
						<div class="account-mainscreen__form-content">

							<div class="settings-account account-mainscreen__item">
								<div class="settings-account__content">
									<div class="settings-account__item">
										<div class="label-white">Telegram:</div>
										<button class="button button_sm button_no-bg" type="button">Прикріпивши</button>
									</div>
									<div class="settings-account__item">
										<div class="form">
											<div class="search-form__item">
												<label for="qiwi" class="label-white">Email:</label>
												{{form.email}}
											</div>
										</div>
									</div>
									<div class="settings-account__item">
										<div class="form">
											<div class="search-form__item">
												<label for="qiwi" class="label-white">Номер телефону:</label>
                                                 {{form.phone_number}}

											</div>
										</div>
									</div>
									<div data-da=".account-mainscreen__form,767.98" class="settings-account__item settings-account__item_btn">
										<button class="button" type="submit">Зберігши</button>
									</div>
								</div>
							</div>
							<div class="change-pass account-mainscreen__item">
								<div class="form form-pass">

									<div class="search-form__item">
										<label for="subjects" class="label-white">Часовий пояс:</label>
                                        {{form.timezone}}


									</div>
								</div>

							</div>
						</div>

				</div>
			</section>
		</main>


<script>
document.getElementById('changePhoto').addEventListener('click', function() {
    // Trigger the click event of the hidden file input
    document.getElementById('photoInput').click();
});

// Add an event listener to the file input for when a file is selected
document.getElementById('photoInput').addEventListener('change', function(event) {
    // Get the selected file
    const selectedFile = event.target.files[0];

    // You can perform additional checks on the file if needed

    // Example: Display the file name
    alert('Selected file: ' + selectedFile.name);

    // Here, you can perform the file upload logic or use the selected file as needed
});
</script>



    {% endblock %}