{% extends 'base.html' %}
{% load static %}
{% block header %}
<body class="page__body">
<div class="cabinet-container">
{% endblock %}
    {% block content %}
    <main class="main"><div class="cabinet"><div class="container-fluid"><div class="cabinet__header"><div class="cabinet__tabs"><a href="{% url 'logging' %}" >Мое</a> <a href="" class="active">Заявки на размещение</a> <a href="">Мои боты</a> <a href="">Мои спецпредложения</a> <a href="">Финансы</a> <a href="">Помощь</a></div><select class="form-select" aria-label="Default select example"><option selected="selected">По кол-ву заявок</option><option value="1">One</option><option value="2">Two</option><option value="3">Three</option></select></div><div class="cabinet__row"><div class="cabinet__list"><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="color: #00F1A0; width: 10rem"><img src="{% static 'img/Albums.png' %}" alt="">
        Все</p><p class="cabinet__list-title">{{count}}</p></div><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/Wall Clock.png' %}" alt="">
        Активные</p><p class="cabinet__list-title">0</p></div><div class="d-flex align-items-center mb-3 gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/No Rotation.png' %}" alt="">
        Неактивные</p><p class="cabinet__list-title">0</p></div><div class="d-flex align-items-center gap-5"><p class="cabinet__list-title d-flex align-items-center gap-3" style="width: 10rem"><img src="{% static 'img/System Task.png' %}" alt="">
        На модерации</p><p class="cabinet__list-title">0</p></div></div>


    </div>

                <div class="cabinet__boxes"><div class="cabinet__boxes-info d-flex"><p style="width: 25rem">ПОДПИСЧИКИ</p><p>ЛИНК</p><p>ОХВАТ</p></div>
                    <div class="cabinet__boxes-cards">
                        {% for item in order %}
                        <div class="box"><div class="d-flex align-items-center gap-3"><div><img src="/{{item.chanel.pictures}}" width="75px" height="75px" alt=""></div><div><p class="box__title">
                            {{item.chanel.name}}</p></div></div><p class="desc">{{item.comment}}</p><span class="green">{{item.chanel_link}}</span><p class="bold">
                            {{item.views}}</p>
                            {% if item.status == "WT" %}
                            <a href="{% url 'update' item.pk %}"><button class="btn-reset">Одобрить</button></a>
                            {% else %}
                            <a href="{% url 'update' item.pk %}"><button class="btn-reset">Одобрено</button></a>
                            {% endif %}



                        </div>
                        {% endfor %}
    </div></div>

    </main></div>


    {% endblock %}