{% load static %}
<footer class="footer">
			<picture><source srcset="{% static 'img/footer/bg-1.webp' %}" type="image/webp"><img class="footer__bg footer__bg_left" src="{% static 'img/footer/bg-1.png' %}" alt=""></picture>
			<picture><source srcset="{% static 'img/footer/bg-2.webp' %}" type="image/webp"><img class="footer__bg footer__bg_right" src="{% static 'img/footer/bg-2.png' %}" alt=""></picture>
			<div class="footer__container">
				<div class="footer__col">
					<h2 class="title title_green title_sm">Контакти</h2>
					<div class="footer__lists">
						<div class="footer__sociable">
							<ul class="footer__sociable-list">
								<li class="sociable-item">
									<div class="sociable-item__icon">
										<img class="img-fluid" src="{% static 'img/icons/tg.svg' %}" alt="@TGnative">
									</div>
									<div class="sociable-item__content">
										<a href="https://t.me/TGnative" target="_blank" class="sociable-item__link hhv-green">@TGnative</a>
										<div class="sociable-item__text">Ми в телеграмі</div>
									</div>
								</li>
								<li class="sociable-item">
									<div class="sociable-item__icon">
										<img class="img-fluid" src="{% static 'img/icons/mail.svg' %}" alt="support@telegraph.ua">
									</div>
									<div class="sociable-item__content">
										<a href="mailto:support@TGnative.com" target="_blank" class="sociable-item__link hhv-green">support@TGnative.com</a>
										<div class="sociable-item__text">Пошта технічної підтримки</div>
									</div>
								</li>


						</div>
						<div class="footer__navs">
							<nav class="footer__nav">
								<a href="{% url 'about' %}" class="footer__link hhv-blue">Про нас</a>
								<a href="{% url 'faq' %}" class="footer__link hhv-blue">FAQ</a>
								<a href="{% url 'category-list' %}" class="footer__link hhv-blue">Каталог ТГ каналів</a>
							</nav>
							<nav data-da=".footer__pay,480.98" class="footer__nav footer__nav_gap-sm">
								<a href="https://telegra.ph/Pol%D1%96tika-vikoristannya-fajl%D1%96v-cookie-01-07" class="footer__link footer__link_underline">Політика використання файлів cookie</a>
								<a href="https://telegra.ph/Pol%D1%96tika-konf%D1%96denc%D1%96jnost%D1%96-01-07" class="footer__link footer__link_underline">Політика конфіденційності</a>
							</nav>
						</div>
					</div>
					<div class="footer__pay">
						<picture><source srcset="{% static 'img/footer/visa.webp' %}" type="image/webp"><img class="footer__sociable-pay-img" src="{% static 'img/footer/visa.png' %}" alt=""></picture>
						<picture><source srcset="{% static 'img/footer/mc.webp' %}" type="image/webp"><img class="footer__sociable-pay-img" src="{% static 'img/footer/mc.png' %}" alt=""></picture>
					</div>
				</div>
				<div class="footer__col">
					<div class="footer__col-img">
						<picture><source srcset="{% static 'img/footer/apps.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/footer/apps.png' %}" alt="Контакты"></picture>
					</div>
				</div>
			</div>
		</footer>