{% load static %}

    <div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/logo.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/logo.png' %}" alt=""></picture>
					</a>

				</div>
				<div class="header__column">
					<div class="header__menu">
						<a href="{% url 'about' %}" class="header__link hhv-green ">Про платформу</a>
						<a href="{% url 'category-list' %}" class="header__link hhv-green ">Каталог каналів</a>
					</div>
					<div class="header__btns">
						{% url 'register' as register %}
                		{% if request.path == register %}
						{% else %}
						<a href="{% url 'register' %}" class="header__btn button button_no-bg button_sm">Реєстрація</a>
						{% endif %}
						<a href="{% url 'login' %}" class="button button_sm">
							Увійти
							<img src="{% static 'img/icons/login.svg' %}" alt="">
						</a>
					</div>
					<div data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn icon-menu" type="button">
							<span></span>
						</button>
						<div class="dropdown-header__list dropdown-header__list_main">
							<div class="dropdown-header__item">
								<span>
									<a href="{% url 'login' %}" data-da=".dropdown-header__item span,767.98" type="button">
										Увійти
										<img src="{% static 'img/icons/login-blue.svg' %}" alt="">
									</a>
								</span>
								<img src="{% static 'img/icons/arrow-right.svg' %}" class="arrow" alt="">
							</div>
							<a href="{% url 'register' %}" class="dropdown-header__item {% if request.path == '/register/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>Реєстрація</span>
								<img src="{% static 'img/icons/arrow-right.svg' %}" class="arrow" alt="">
							</a>
							<a href="{% url 'about' %}" class="dropdown-header__item {% if request.path == '/about/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Про платформу
								</span>
							</a>
							<a href="{% url 'category-list' %}" class="dropdown-header__item {% if request.path == '/category-list/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Каталог каналів
								</span>
							</a>
							<a href="{% url 'login' %}" class="dropdown-header__item">
								<span>
									Отслеживание постов
								</span>
							</a>
							<a href="{% url 'login' %}" class="dropdown-header__item">
								<span>
									Мої канали
								</span>
							</a>
							<a href="{% url 'faq'%}" class="dropdown-header__item {% if request.path == '/faq/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									FAQ
								</span>
							</a>
							<a href="{% url 'main' %}" class="dropdown-header__item">
								<span>
									Повернутися на головну
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
