{% load static %}


<header class="header header_account">
			<div class="header__container">
				<div class="header__column">
					<a href="{% url 'main' %}" class="header__logo">
						<picture><source srcset="{% static 'img/logo.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/logo.png' %}" alt=""></picture>
					</a>
				</div>
				<div class="header__column">
					<div class="header__menu">
						<a href="{% url 'about' %}" class="header__link hhv-green ">Про платформу</a>
						<a href="{% url 'category-list' %}" class="header__link hhv-green ">Каталог каналів</a>
						<a href="{% url 'faq' %}" class="header__link hhv-green ">FAQ</a>
					</div>
					<div data-dropdown class="header__dropdown dropdown-header dropdown-header_sm">
						<button data-dropdown-btn class="dropdown-header__btn" type="button">
							<span>Баланс</span>
							<img src="{% static 'img/icons/triangle.svg' %}" class="arrow" alt="">
						</button>
						<div class="dropdown-header__list dropdown-header__list_sm">
							<a href="{% url 'balance' %}" class="button">Поповнити баланс</a>
							<a href="{% url 'balance' %}" class="dropdown-header__link hhv-green">Вивести гроші/a>
							<a href="{% url 'balance' %}" class="dropdown-header__link hhv-green">Історія платежу</a>
							<div class="dropdown-header__row">
								<div class="dropdown-header__text">Заморожений</div>
								<div class="dropdown-header__price">0.00 UAH</div>
							</div>
						</div>
					</div>
					{% if cart %}
					<a href="{% url 'login_reklama' %}" class="header__cart">
						<img class="img-fluid" src="{% static 'img/icons/cart.svg' %}" alt="">
						<span>{{number_count}}</span>
					</a>
					{% endif %}

					{% if bell %}
					<a href="{% url 'logging' %}" class="header__cart">
						<img class="img-fluid" src="{% static 'img/icons/bell.svg' %}" alt="">
						<span>{{number_count}}</span>
					</a>
					{% endif %}

					{% if user_photo %}
					<a href="{% url url_cabinet pk %}" class="header__avatar">

						<picture><source srcset="/{{ user_photo }}" type="image/webp"><img class="img-fluid" src="/{{ user_photo }}" alt=""></picture>
						</a>
						{% else %}
					 <a href="{% url url_cabinet pk %}" class="header__avatar">
						<picture><source srcset="{% static 'img/channel/avatar-not-found.webp' %}" type="image/webp"><img class="img-fluid" src="{% static 'img/channel/avatar-not-found.png' %}" alt=""></picture>
					 </a>
					{% endif %}
					<div data-dropdown class="header__dropdown dropdown-header">
						<button data-dropdown-btn class="dropdown-header__btn icon-menu" type="button">
							<span></span>
						</button>
						<div class="dropdown-header__list dropdown-header__list_main">
							<a href="{% url 'logout' %}" class="dropdown-header__item dropdown-header">
								<span>
									Вийти
								</span>
							</a>
							<a href="{% url 'about' %}" class="dropdown-header__item {% if request.path == '/about/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Про платформу
								</span>
							</a>
						  	<a href="{% url 'category-list' %}" class="dropdown-header__item {% if request.path == '/category-list/' %}dropdown-header__item dropdown-header__item_active{% endif %}">

								<span>
									Каталог каналів
								</span>
							</a>
							<a href="{% url 'list-chanel' %}" class="dropdown-header__item {% if request.path == '/list-chanel/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Вибрані канали
								</span>
							</a>
							   {% if pages %}
							<a href="{% url 'logging' %}" class="dropdown-header__item {% if request.path == '/logging/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Мої канали
								</span>
							</a>
							{% else %}
							<a href="{% url 'login_reklama' %}" class="dropdown-header__item {% if request.path == '/login_advitiser/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									Отслеживание постов
								</span>
							</a>

							{% endif %}
							<a href="{% url 'faq'%}" class="dropdown-header__item {% if request.path == '/faq/' %}dropdown-header__item dropdown-header__item_active{% endif %}">
								<span>
									FAQ
								</span>
							</a>
							<a href="{% url 'main' %}}" class="dropdown-header__item">
								<span>
									Повернутися на головну
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>

<script>
    $(window).on('beforeunload', function() {
    // Make an asynchronous request to update is_online status when the user closes the browser
    $.ajax({
        type: 'POST',
        url: '{% url 'update_online_status' %}',  // Replace with the actual URL to update online status
        data: {
            'action': 'logout',
             csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        async: false,  // Make the request synchronous to ensure it completes before the browser closes
    });
});
</script>

